 .reg_map{

    margin: 0 auto;
    width: auto;
    height: 560px;
    text-align: center;
    color: #484848

  }
 
  .reg_map_text{
    position: relative;
    margin: 0 auto;
    height: 1px;
    text-align: center;

  }


  .reg_map_img{
    position: relative;
    top: -150px;
    left:0;
    height: 500px;

  }

.aria_map_1 {
    position: relative;
    top: 60px;
    left: -170px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    vertical-align: top;

}

.aria_map_2 {
    position: relative;
    top: 185px;
    left: -230px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.aria_map_3 {
    position: relative;
    top: 260px;
    left: -236px;
    z-index: 10;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


.aria_map_4 {
    position: relative;
    top: 350px;
    left: -220px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.aria_map_5 {
    position: relative;
    top: 390px;
    left: -150px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


.aria_map_6 {
    position: relative;
    top: -10px;
    left: 180px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.aria_map_7 {
    position: relative;
    top: 68px;
    left: 194px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.aria_map_8 {
    position: relative;
    top: 228px;
    left: 228px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


.aria_map_text_title{
    font-size: 24px;
    font-weight: 600;
    background-color: white;
}

.aria_map_1_text {
    position: relative;
    top: -640px;
    left: -390px;
    width: 290px;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #484848;
    background-color: white;
}

.aria_map_2_text {
    position: relative;
    top: -490px;
    left: -440px;
    width: 290px;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: right;
    border-right: 1px solid #484848;
    opacity: 0;
    background-color: white;
    padding-right: 10px;
}


.aria_map_3_text {
    position: relative;
    top: -392px;
    left: -450px;
    width: 290px;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: right;
    border-right: 1px solid #484848;
    opacity: 0;
    background-color: white;
    padding-right: 10px;
}


.aria_map_4_text {
    position: relative;
    top: -276px;
    left: -450px;
    width: 290px;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: right;
    border-right: 1px solid #484848;
    opacity: 0;
    background-color: white;
    padding-right: 10px;
}


.aria_map_5_text {
    position: relative;
    top: -211px;
    left: -385px;
    width: 290px;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: right;
    border-right: 1px solid #484848;
    opacity: 0;
    background-color: white;
    padding-right: 10px;
}


.aria_map_6_text {
    position: relative;
    top: -585px;
    left: 400px;
    width: 290px;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    border-left: 1px solid #484848;
    opacity: 0;
    background-color: white;
    padding-left: 10px;
}


.aria_map_7_text {
    position: relative;
    top: -480px;
    left: 410px;
    width: 290px;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    border-left: 1px solid #484848;
    opacity: 0;
    background-color: white;
    padding-left: 10px;
}

.aria_map_8_text {
    position: relative;
    top: -300px;
    left: 415px;
    width: 240px;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    border-left: 1px solid #484848;
    opacity: 0;
    background-color: white;
    padding-left: 10px;
}


@media (max-width: 1000px) {

.reg_map{
    position: relative;
    margin: 0 auto;
    width: auto;
    height: 650px;
    text-align: center;
    color: #484848

}
 

.aria_map_1 {
    position: relative;
    top: 60px;
    left: -100px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    vertical-align: top;

}

.aria_map_2 {
    position: relative;
    top: 180px;
    left: -160px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.aria_map_3 {
    position: relative;
    top: 260px;
    left: -150px;
    z-index: 10;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


.aria_map_4 {
    position: relative;
    top: 340px;
    left: -120px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.aria_map_5 {
    position: relative;
    top: 390px;
    left: -90px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


.aria_map_6 {
    position: relative;
    top: -10px;
    left: 80px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.aria_map_7 {
    position: relative;
    top: 68px;
    left: 100px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.aria_map_8 {
    position: relative;
    top: 228px;
    left: 130px;
    z-index: 10;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


.aria_map_text_title{
    font-size: 24px;
    font-weight: 600;
    background-color: white;
}

.aria_map_1_text {
    position: relative;
    top: -135px;
    left: -5px;
    width: auto;
    z-index: 10;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: none;

}

.aria_map_2_text {
    position: relative;
    top: -136px;
    left: -5px;
    width: auto;
    z-index: 11;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    background-color: white;
    border: none;
}


.aria_map_3_text {
    position: relative;
    top: -137px;
    left: -5px;
    width: auto;
    z-index: 12;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    background-color: white;
    border: none;
}


.aria_map_4_text {
    position: relative;
    top: -138px;
    left: -5px;
    width: auto;
    z-index: 13;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    background-color: white;
    border: none;
}


.aria_map_5_text {
    position: relative;
    top: -139px;
    left: -5px;
    width: auto;
    z-index: 14;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    background-color: white;
    border: none;
}


.aria_map_6_text {
    position: relative;
    top: -140px;
    left: -5px;
    width: auto;
    z-index: 15;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    background-color: white;
    border: none;
}


.aria_map_7_text {
    position: relative;
    top: -141px;
    left: -5px;
    width: auto;
    z-index: 16;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    background-color: white;
    border: none;
}

.aria_map_8_text {
    position: relative;
    top: -142px;
    left: -5px;
    width: auto;
    z-index: 17;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    background-color: white;
    border: none;
}


}