/*############################## HEADER - FOOTER############################ */
body {
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding-left: 20px;

}

li {
    z-index: 33;
}

.logo_block {
    display: inline-block;
}

.logo {
    display: inline-block;
    vertical-align: top;
    height: 105px;

}

.logo_text {
    height: 95px;
    width: 160px;
    vertical-align: top;
    color: #007705;
    font-family: DSFreeSet_medium, sans-serif;
    font-size: 16px;
    line-height: 17px;
    padding-left: 15px;
/ / border: 1 px solid black;

}

.logo_lang_text {
    margin-top: 30px;
    vertical-align: bottom;
    font-size: 16px;
    color: #484848;

}

.logo_lang_text_deactive {
    color: #a6a6a6;

}

.header_menu {
    width: 90%;
/ / border: 1 px solid black;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header_menu a {
    color: #484848;

}

.header_menu a:hover {
    color: #e40424;

}

.header_menu_links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.header_menu2 {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-top: 10px;

}

.header_menu2 a {
    color: #6c6c6c;

}

.header_menu2 a:hover {
    color: #e40424;

}

.header_menu2_td1 {

    vertical-align: center;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
}

.header_menu2_links {
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    border-right: 3px solid #e8e8e8;
    width: 100%;
    background-color: white;
    padding: 9px 30px 7px 0px;
}

.header_menu2_td2 {
    width: 300px;
    vertical-align: center;
    padding-right: 0px;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    border-right: 3px solid #e8e8e8;
    background-color: #e8e8e8;
    font-family: DSFreeSet_italic, sans-serif;
    color: #d4d4d4;
    text-align: right;
    font-size: 12px;
}

.header_menu2_td2 img {
    display: inline-block;
    vertical-align: center;
    margin-top: -10px;
    padding-bottom: 4px;
}

.header_menu2_td2 i {

    display: inline-block;
    padding-right: 10px;
    color: #8f8f8f;
}

.header_menu2_soc {
    width: 100px;
    background-color: #e8e8e8;
    height: 100%;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    border-right: 3px solid #e8e8e8;
}

.header_rel_map {
    display: inline-block;
    text-align: center;
    background-color: #8ca94e;
    font-family: DSFreeSet_medium, sans-serif;
    font-size: 12px;
    color: white;
    width: 110px;
    padding: 12px;
    line-height: 12px;

}

.header_rel_map:hover {
    background-color: #e40424;
    cursor: pointer;
}

.header_td_padding {
    padding-top: 15px;
}

.form-control {
    height: 25px;
}

.mobile_header {
    display: none;
    position: relative;
    width: 100%;
    z-index: 9999;
}

.mobile_header_menu_td {
    width: 50px;

}

.mobile_header_menu {
    padding: 10px;
    width: 58px;
}

.mobile_header_logo_td {
    text-align: left;
    width: 120px;
}

.mobile_header_logo {
    padding: 10px;
    height: 100px;
    float: left;
}

.mobile_header_text {
    color: green;
    font-size: 14px;
    text-align: center;

}

.mobile_header_text_div {
    text-align: left;
    max-width: 100px;

}

.mobile_heade_lang_td {
    border-left: 2px solid #e8e8e8;
    width: 60px;

}

.mobile_heade_lang_td div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mobile_heade_lang {
    color: grey;
    padding: 5px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    height: 100%;

}

.mobile_heade_lang_active {
    position: relative;
    color: #484848;
    background-color: #e8e8e8;
    padding: 5px;
    width: 100%;
    text-align: center;

}

.mobile_header_map_td {
    background-color: #8ca94e;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}

.mobile_header_map_td img {
    text-align: center;
    height: 55px;
}

.mobile_header_bar_td {
    background-color: #e8e8e8;
    padding: 5px;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    padding-right: 30px;
    font-size: 12px;
    vertical-align: middle;
    color: #9b9b9b;
}

.mobile_header_bar_td img {
    float: left;
    padding-right: 5px;
}

.mobile_header_bar_search {
    padding: 5px;
    text-align: center;

}

.mobile_menu_window {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding: 20px;
    display: none;
    top: 0;
    z-index: 99999;
}

.mobile_menu_window a br {
    display: none;
}

.mobile_menu_window a {
    color: #484848;
    font-size: 16px;
    display: block;
    margin-bottom: 7px;
}

#search_menu {
    display: none;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    text-align: center;

}

#search_menu a {

    font-size: 20px;

}

.search_menu {
    display: flex;
    justify-content: space-between;
}

.footer_block {
    padding: 35px;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
}

.footer_menu {
    width: 50%;
/ / border: 1 px solid black;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.footer_adress {
    text-align: right;
    font-size: 18px;
    color: #484848;
    font-family: DSFreeSet_medium, sans-serif;
    width: 260px;

}

.footer_table td {
    vertical-align: top;
    padding-left: 25px;
    padding-top: 15px;
}

.footer_table a {
    color: #6c6c6c;

}

.footer_table a:hover {
    color: #e40424;

}

.footer_table {
    margin-top: -20px;
}

.footer_soc {

    width: 100%;
    background-color: #e8e8e8;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 34px;
    padding-right: 34px;
    vertical-align: top;
}

.blue_but {
    display: inline-block;
    position: relative;
    top: -10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #25bcde;
    color: white;
    font-size: 14px;
    border: none;

}

.blue_but2 a {
    color: #fff;
}

.blue_but2 {
    display: inline-block;
    position: relative;
    top: -10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #25bcde;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.main a {
    /*color: #fff;*/
}

.blue_but2:hover {
    background-color: #007705;
    color: white;

}

.green_but2 a {
    color: #fff;
}

.green_but2 {
    display: inline-block;
    position: relative;
    top: -10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #52ac62;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.green_but2:hover {
    background-color: #25bcde;
    color: white;

}

.blue_text {
    position: relative;
    top: 0px;
    left: 10px;
    display: inline-block;
    width: 250px;
    color: #25bcde;
    font-size: 14px;

}

.footer_soc_right {
    float: right;
    text-align: right;
}

.footer_soc_right i {
    position: relative;
    left: -10px;
    display: inline-block;
    width: 500px;
    color: #a8a8a8;

}

.footer_soc_right img {
    position: relative;
    top: -10px;
    display: inline-block;
    width: 40px;
}

.mobile_footer table {
    table-layout: fixed;
}

.mobile_footer {
    display: none;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 2px solid #e8e8e8;
    width: 100%;
    text-align: center;
}

.mobile_footer_bar_td {
    background-color: #e8e8e8;
    padding: 10px;
}

/*############################## HEADER - FOOTER############################ */

.main {
    width: 100%;
    text-align: center;
}

.red_h1 {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    color: #e40424;
    font-size: 40px;
    font-family: DSFreeSet_bold, sans-serif;
    font-weight: 600;
}

.green_h1 {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    color: #007705;
    font-size: 40px;
    font-family: DSFreeSet_bold, sans-serif;
    font-weight: 600;
}

.blue_h1 {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    color: #69c1d3;
    font-size: 40px;
    font-family: DSFreeSet_bold, sans-serif;
    font-weight: 600;
}

.black_h2 {
    font-size: 22px;
    font-family: DSFreeSet_bold, sans-serif;
    color: #484848;
    width: 700px;
}

.h1_rombs {
    position: relative;
    top: -5px;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 5px;
}

.p_eg_block {
    width: 1066px;
    margin: 0 auto;
}

.p_eg_text {
    color: #484848;
    font-size: 20px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 38px;
}

.p_eg1 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-image: url(../images/p1.png);
    background-repeat: no-repeat;
    background-size: 190%;
    background-position: 19% 48%;
    margin: 0 auto;

}

.p_eg2 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-image: url(../images/p2.png);
    background-repeat: no-repeat;
    background-size: 190%;
    background-position: 66% 19%;
    margin: 0 auto;
}

.p_eg3 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-image: url(../images/p4.png);
    background-repeat: no-repeat;
    background-size: 191%;
    background-position: 50% 48%;
    margin: 0 auto;
}

.p_eg4 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-image: url(../images/p3.png);
    background-repeat: no-repeat;
    background-size: 173%;
    background-position: 22% 23%;
    margin: 0 auto;
}

.grey_inf_block_outer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: DSFreeSet_regular, sans-serif;
    font-size: 16px;
    color: #484848;
    background-color: #e8e8e8;
    text-align: center;
}

.grey_inf_block_inner {
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    text-align: justify;

}

.grey_inf_block_h1 {
    color: #8ca94e;
    font-style: DSFreeSet_medium, sans-serif;
    font-size: 20px;
    text-align: center;
}

.green_inf_block_outer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: DSFreeSet_regular, sans-serif;
    font-size: 16px;
    color: #484848;
    background-color: #8ca94e;
    text-align: center;
    padding: 50px;

}

.white_h1 {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    color: white;
    font-size: 40px;
    font-family: DSFreeSet_bold, sans-serif;
    font-weight: 600;
}

.green_inf_block_inner {
    text-align: center;
    font-family: DSFreeSet_italic, sans-serif;
    font-size: 18px;
    color: #484848;
    width: 100%;
    border: 5px solid #e8e8e8;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    font-style: italic;

}

.green_inf_block_outer a {
    color: white;
    font-size: 24px;
    margin: 0 auto;
}

.white_inf_block_outer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: DSFreeSet_regular, sans-serif;
    background-color: white;
    text-align: center;

}

.quation_block_1 {
    display: inline-block;
    height: 200px;
    width: 390px;
    color: #484848;
    font-size: 20px;
    text-align: right;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 38px;
    border-right: 5px solid #e8e8e8;
    vertical-align: top;
}

.quation_block_2 {
    display: inline-block;
    width: 690px;
    color: #484848;
    font-size: 20px;
    text-align: left;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 38px;
    vertical-align: top;
}

.quation_block_2 img {
    display: inline-block;
    padding-right: 10px;
}

.docs_body {
    width: 1000px;
    height: auto;
    text-align: left;
    vertical-align: center;
    margin: 0 auto;
}

.docs_body a {
    color: #484848;
    display: block;
    text-align: justify;
}

.docs_body a:hover {
    color: #e40424;

}

.docs_item {
    display: inline-block;
    color: #484848;
    font-size: 18px;
    text-align: left;
    min-height: 77px;
    float: left;
    width: 480px;
    line-height: 22px;
    margin: 10px;
    vertical-align: middle;
}

.docs_item img {
    float: left;
    padding-right: 10px;
}

.pagination_block {
    display: block;
    width: 300px;
    color: #484848;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.header_menu_links a {
    max-width: 10em;
    display: inline-block;
    text-align: left;
}

.pages > li.active {
    background-color: #e8e8e8;
    border-radius: 100px;
}

.pages > li.active a {
    font-weight: 600;
}

.pages > li a:hover {
    color: #007705;
}

.pages > li a {
    color: #484848;
}

.pages > li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.pages {
    display: block;
    width: 300px;
    color: #484848;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding: 0;
}

.pages .disabled {
    display: none;
}

.pagination_block a {
    color: #484848;
    padding: 10px;
}

.pagination_block a:hover {
    color: #007705;
}

.pagination_active {
    background-color: #e8e8e8;
    border-radius: 100px;
    font-weight: 600;
}

.contacts_block {
    display: inline-block;
    font-size: 16px;
    color: #484848;
    text-align: left;
    margin: 10px;

}

.contacts_block_img {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin: 10px;
    padding-right: 0px;
}

.blue_form_title {
    font-size: 30px;
    font-weight: 600;
    color: #69c1d3;
}

.blue_form_input {
    font-size: 16px;
    color: #484848;
    padding: 10px;
    margin: 10px;
    border: none;
    width: 300px;
}

.blue_form_textarea {
    width: 625px;
    height: 90px;
    font-size: 16px;
    color: #484848;
    padding: 10px;
    margin: 10px;
    border: none;
}

.grey_form_input {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border: none;
    width: 300px;
    background-color: #e8e8e8;
    color: #868282;
}

.grey_form_textarea {
    width: 625px;
    height: 90px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #e8e8e8;
    color: #868282;
}

.spravka_block {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #e8e8e8;
    font-size: 16px;
    color: #484848;
    cursor: pointer;
}

.spravka_block span:hover {
    color: red;
}

.spravka_block img {
    margin-top: 25px;
}

.spravka_block_content {
    background-color: #e8e8e8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

.green_circl {
    display: inline-block;
    color: green;
    font-size: 50px;
    vertical-align: middle;
    padding-right: 15px;
}

.index_green_block {

    width: 100%;
    height: auto;
    background-image: url("../images/green_background.png");
    background-size: 100%;
    padding: 20px;
}

.index_green_block_item {
    display: inline-block;
    display: table;
    float: right;
    position: relative;
    width: 48%;
    height: 160px;
    margin: 5px;
    border: 2px solid white;
    text-align: center;
}

.index_green_block_item:hover {
    background-image: url("../images/green_background_hover.png");
/ / opacity: 0.7;
    cursor: pointer;
}

.index_green_block_item_text {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.index_black_h1 {
    display: inline-block;
    font-size: 30px;
    color: #484848;
    width: 700px;
    font-weight: 500;

}

.index_inf_block {
    display: inline-block;
    width: 28%;
    padding: 20px;
    vertical-align: top;
    font-size: 16px;
    text-align: left;
    color: #484848;
    margin: 0 auto;
    text-align: justify;
}

.index_green_but {
    color: #484848;
    font-size: 20px;
    padding: 7px;
    border: 2px solid #007705;
    text-align: center;
    width: auto;
}

.index_green_reg_icon {
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
    font-size: 18px;
    color: white;
    text-align: center;
    width: 160px;
    vertical-align: top;
}

.index_green_reg_icon a {
    color: white;
}

.index_green_reg_icon a:hover {
    color: white;
}

.index_grey_inf_block {
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    background-color: #e8e8e8;
    width: auto;
    color: #484848;
    font-size: 20px;
    text-align: center;
}

.index_grey_inf_block img {
    float: left;
}

.index_grey_inf_block a {
    color: #484848;
    display: block;
    margin-left: 40px;
    text-align: justify;
}

.index_grey_inf_block a:hover {
    color: #afd5de;
}

.index_grey_inf_block_big_font {
    font-size: 22px;
    text-align: center;
}

.index_grey_inf_block_small_font {
    font-size: 14px;
    text-align: center;
}

.video_aria {
    width: 800px;
    margin: 0 auto;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news_menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #484848;
    width: 400px;
}

.news_menu a {
    color: #484848;
}

.news_menu a:hover {
    color: #e40424;
}

.news_block {
    display: inline-block;
    width: 1066px;
    text-align: center;
    padding: 10px;
}

.news_item {
    display: inline-block;
    width: 500px;
    margin: 10px;
}

.news_item_image_div {
    width: 230px;
    height: 165px;
    float: left;

    background-repeat: no-repeat;
    background-size: 100%;
    padding-right: 10px;
}

.news_item_title {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #484848;
    width: 260px;
    line-height: 20px;
    padding-bottom: 10px;
    float: right;
    text-align: left;
}

.news_active_link {
    color: #e40424;
    text-decoration: underline;
}

.news_item_title a {
    color: #484848;
}

.news_item_title a:hover {
    color: #63c9e4;
}

.news_item_text {
    display: inline-block;
    font-size: 12px;
    color: #484848;
    width: 260px;
    padding-bottom: 10px;
    float: right;
    text-align: left;
}

.news_item_more {
    display: inline-block;
    color: blue;
    font-size: 14px;
    width: 260px;
    float: right;
    text-align: left;
}

.news_item_more a {
    color: #63c9e4;
}

.news_item_more a:hover {
    color: #e40424;
}

.news_block_page {
    display: inline-block;
    width: 1066px;
    text-align: center;
    color: #484848;
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.news_page_title {
    color: #484848;
    font-size: 28px;
    font-weight: 600;
    float: left;
}

.news_page_menu {
    margin: 0 auto;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #484848;
    width: auto;
    float: right;
}

.news_block_page_img {
    max-height: 270px;
    width: auto;
    height: auto;
    float: left;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-right: 20px;
}

.news_page_menu a {
    color: #484848;
}

.news_page_menu a:hover {
    color: #e40424;
}

.news_page_img {
    display: inline-block;
    width: 390px;
    height: 270px;
    float: left;
    border: 1px solid black;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.news_page_date {
    color: #25bcde;
    font-size: 18px;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
}

.news_page_pagination {
    display: flex;
    justify-content: space-between;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;

}

.news_page_pagination a {
    color: #6c6c6c;
}

.news_page_pagination a:hover {
    color: #629c62;
}

.relig_header {
    width: 100%;
    height: 185px;
    background-image: url("../images/reg_head.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    margin: 0 auto;

}

.relig_desc {
    display: inline-block;
    width: 600px;
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
    color: #484848;
}

.relig_desc_title {
    color: #52ac62;
}

.relig_desc .relig_desc_title {
    text-transform: uppercase;
}

.relig_sub_title {
    font-size: 16px;
    font-weight: 500;
    color: #484848;
    text-align: justify;
}

.relig_icon {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -28px;
    left: -6px;

}

.relig_grey_but {
    display: inline-block;
    width: auto;
    background-color: #e8e8e8;
    font-size: 12px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.relig_hide_desc {
    /*display: none;*/
    text-align: justify;
}

.relig_eg_block {
    width: 1066px;
    margin: 0 auto;
}

.relig_eg {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: 190%;
    background-position: 19% 48%;
    margin: 0 auto;

}

.relig_text {
    color: #484848;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 38px;
    font-weight: 500;
}

.relig_text a {
    color: #484848;
    font-weight: 500;
}

.relig_text:hover {
    text-decoration: underline;
}

.relig_grey_inf_block_outer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: DSFreeSet_regular, sans-serif;
    font-size: 16px;
    color: #484848;
    background-color: #e8e8e8;
    text-align: center;
}

.relig_missianers_outer {
    width: 90%;
    text-align: center;
    margin: 0 auto;

}

.relig_missianers_eg {
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 1px solid white;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    border-radius: 100px;
}

.relig_green_block_inner {
    display: table;
    width: 950px;
    margin: 0 auto;
    color: white;
    font-style: 16px;
    text-align: left;

}

.relig_green_block_item {
    display: table;
    margin-top: 20px;
}

.relig_green_block_item p {
    display: table-cell;
    vertical-align: middle;
}

.relig_green_block_inner img {
    display: inline-block;
    padding-right: 20px;
    float: left;
}

.missioner_block {
    display: inline-block;
    width: 1000px;
    height: auto;
    text-align: left;
}

.missioner_photo {
    display: inline-block;
    width: 320px;
    vertical-align: top;
    float: left;
}

.missioner_photo img {
    position: relative;
    top: 200px;
    left: 100px;
}

.missioner_text_block {
    display: inline-block;
    width: 650px;
    padding-left: 30px;
}

.missioner_green_font1 {
    display: inline-block;
    color: #52ac62;
    font-size: 20px;
}

.missioner_green_font2 {
    display: inline-block;
    color: #52ac62;
    font-size: 16px;
}

.missioner_black_font1 {
    display: inline-block;
    color: #484848;
    font-size: 18px;
}

.missioner_black_font2 {
    display: inline-block;
    color: #484848;
    font-size: 14px;
}

.missioner_black_font1 img {
    padding-right: 10px;
}

.relig_hide_desc.ng-hide {
    opacity: 0;
}

.relig_hide_desc.ng-hide-add,
.relig_hide_desc.ng-hide-remove {
    transition: all linear 0.5s;
}

.relig_missianers_eg_big {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.missioner_grey_block {
    display: inline-block;
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e8e8e8;
}

.missioner_grey_block_item {
    display: inline-block;
    width: 500px;
    text-align: left;
    float: left;

}

.religions_icon_block {
    display: table;
    font-size: 30px;
    font-weight: 600;
    text-align: left

}

.religions_icon_block img {
    display: table-cell;
    text-align: center;
}

.religions_icon_text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: auto;
}

.religions_icon_inline {
    display: inline-block;
    margin-right: 85px;
    cursor: pointer;
    vertical-align: top;
}

.religions_icon_inline:hover {
    opacity: 0.9;

}

.religions_grey_block_outer {

    width: 100%;
    background-color: #e8e8e8;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.religions_grey_block_inner {
    width: 900px;
    margin: 0 auto;
    text-align: left;
    margin-right: 150px;
}

.religions_grey_block_inner_links {
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: left;
    font-size: 22px;
    color: #69c1d3;
    vertical-align: top;
    margin-top: 20px;
}

.religions_grey_block_inner_links a {
    color: #484848;
    font-size: 16px;
    text-decoration: underline;
}

.religions_grey_block_inner_links a:hover {
    color: #69c1d3;
    text-decoration: none;
}

.religions_grey_block_top_icon_outer {
    position: relative;
    top: 40px;
    left: 0px;
    width: 1066px;
    text-align: left;
    margin: 0 auto;
    z-index: 10;
}

.religions_grey_block_bottom_icon_outer {
    position: relative;
    top: -50px;
    left: 0px;
    width: 1150px;
    text-align: center;
    margin: 0 auto;
}

.zdan_block {
    display: inline-block;
    width: 1100px;
    height: auto;
    text-align: left;
}

.zdan_photo {
    display: inline-block;
    width: 500px;
    height: 300px;
    vertical-align: top;
    float: left;

}

.zdan_zdan_photo {
    width: 445px;
    height: 310px;
    float: left;
    background-repeat: repeat;
    background-size: 100%;
}

.zdan_photo img {
    position: relative;
    top: -275px;
    left: 384px;
}

.zdan_text_block {
    display: inline-block;
    width: 600px;
    padding-left: 30px;
}

.zdan_green_font1 {
    display: inline-block;
    color: #52ac62;
    font-size: 20px;
}

.zdan_green_font2 {
    display: inline-block;
    color: #52ac62;
    font-size: 16px;
}

.zdan_black_font1 {
    display: inline-block;
    color: #484848;
    font-size: 18px;
}

.zdan_black_font1 a {
    color: #69c1d3;
}

.zdan_black_font2 {
    display: inline-block;
    color: #484848;
    font-size: 14px;
}

.zdan_black_font1 img {
    padding-right: 10px;
}

.zdan_blue_font1 {
    display: inline-block;
    color: #69c1d3;
    font-size: 16px;
}

.zdan_blue_font2 {
    display: inline-block;
    color: #69c1d3;
    font-size: 34px;
}

.zdan_grey_block {
    display: inline-block;
    width: 1100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e8e8e8;
}

.zdan_white_block {
    text-align: left;
    width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.zdan_grey_block_item {
    display: inline-block;
    width: 500px;
    text-align: left;
    float: left;

}

.relig_map_bar {
    display: inline-block;
    width: 100%;
    background-color: #e8e8e8;

}

.relig_map_bar_item {
    padding: 10px;
    display: inline-block;
    width: auto;
    float: left;
    padding-right: 20px;
}

.relig_map_bar_form {
    display: inline-block;
    float: right;
    padding: 10px;
}

.relig_map_bar_form_white_but {
    display: inline-block;
    padding: 4px 15px 4px 15px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    color: #777777;
}

.relig_map2_body {
    display: inline-block;
    width: 1000px;
    height: auto;
    text-align: left;
    vertical-align: center;
    margin: 0 auto;

}

.relig_map2_item {
    display: inline-block;
    vertical-align: middle;
    width: 490px;
    margin-bottom: 1em;
}

.relig_map2_item .img {
    width: 110px;
}

.relig_map2_item .desc {
    margin-left: 110px;
}

.relig_map2_item img {
    float: left;
}

.relig_map2_item a {
    float: left;
    color: #777777;
    font-size: 14px;
}

.relig_map2_item a:hover {
    color: #69c1d3;
}

.relig_map2_item i {
    font-size: 12px;
}

.relig_map2_blue_link {
    display: inline-block;
    font-size: 12px;
    float: left;
    color: #69c1d3;
    text-decoration: underline;
}

ul.dropdown li {
    position: relative;
}

ul.dropdown,
ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
}

ul.dropdown-inside {
    position: absolute;
    left: -9999px;
}

ul.dropdown li.dropdown-top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
}

ul.dropdown li.dropdown-top a {
    padding: 3px 10px 4px;
    display: block;
}

ul.dropdown a.dropdown-top {
    color: #484848;
}

ul.dropdown a.dropdown-top:hover {
    color: red;
}

ul.dropdown a.dropdown-top:hover {
    padding: 2px 10px 5px;
}

ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: 0;
}

ul.dropdown .dropdown-inside {
    background: #e8e8e8;
    text-align: left;
}

ul.dropdown .dropdown-inside a {
    color: #484848;
    width: 300px;
}

ul.dropdown .dropdown-inside a:hover {
    background: #efefef;
}

ul.dropdown .dropdown-inside span {
    display: block;
    padding: 5px 10px;
    width: 12em;
    cursor: pointer;
}

@font-face {
    font-family: DSFreeSet_medium; /* Имя шрифта */
    src: url('../fonts/DS FreeSet - Medium.otf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: DSFreeSet_italic; /* Имя шрифта */
    src: url('../fonts/DS FreeSet - Italic.otf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: DSFreeSet_bold; /* Имя шрифта */
    src: url('../fonts/DS FreeSet - Bold.otf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: DSFreeSet_regular; /* Имя шрифта */
    src: url('../fonts/DS FreeSet.otf'); /* Путь к файлу со шрифтом */
}

#contact-form .blue_form_textarea {
    width: 100%;
    margin: 0;
}

#contact-form .blue_form_input {
    width: 100%;
    margin: 0;
}

#contact-form {
    max-width: 45em;
    margin: 0 auto;
}

.has-error input,
.has-error textarea {
    border: 1px solid red;
}

yandex-map#mainpage-map {
    display: block;
    height: 400px;
}
.footer_soc  .blue_but {
    top: 0;
}
@media (max-width: 1000px) {
    .religions_grey_block_bottom_icon_outer:after {
        clear: both;
        content: "";
        display: block;
    }

    .mobile_hide {
        display: none;
    }

    .mobile_show {
        display: block;
    }

    .center_align_mobile {
        text-align: center;
    }

    .width100 {
        width: 100%;
    }

    .footers {
        display: none;
    }

    .header {
        display: none;
    }

    .h1_rombs {
        display: none;
    }

    .black_h2 {
        width: auto !important;
    }

    .p_eg_block {
        width: auto;
        padding: 10px;
    }

    .grey_inf_block_inner {
        width: auto;
    }

    .green_inf_block_inner {
        width: auto;
        padding: 5px;
    }

    .grey_inf_block_inner {
        padding: 10px;
    }

    .quation_block_1 {
        width: auto;
        border: none;
        height: auto;
        font-weight: 600;
        text-align: center;
        padding-right: 0;
    }

    .quation_block_2 {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        padding: 10px;
        width: 310px;
        margin: 0 auto;
    }

    .docs_item {
        width: 90%;
        height: auto;
    }

    .docs_body {
        width: 100%;
    }

    .contacts_block_img {
        width: 80%;
        padding-right: 0;
    }

    .pagination_block {
        position: relative;
        top: 0;
        font-size: 30px;
    }

    .spravka_block {
        width: 90%;
        margin: 0 auto;
    }

    .index_green_block_item {
        width: 100%;
    }

    .index_black_h1 {
        width: 100%;
        padding: 10px;
    }

    .index_inf_block {
        width: 90%;
    }

    .index_grey_inf_block {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
    }

    .video_aria {
        width: 100%;
    }

    .news_block {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .news_item {
        width: auto;
    }

    .news_item_image_div {
        width: 45%;
        margin-right: 10px;
    }

    .news_item_title {
        width: 50%;
        float: left;
    }

    .news_item_text {
        width: 50%;
        float: left;
    }

    .news_item_more {
        width: 50%;
        float: left;
    }

    .news_block_page {
        width: 100%;
    }

    .news_page_menu {
        display: none;
    }

    .news_page_title {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        line-height: 25px;
    }

    .news_block_page {
        font-size: 18px;
    }

    .news_page_pagination {
        width: 400px;
        font-size: 25px;
    }

    .relig_top_fix {
        position: relative;
        top: -80px;
    }

    .relig_desc {
        position: relative;
        padding: 10px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .relig_icon {
        display: none;
    }

    .relig_header {
        display: none;
    }

    .relig_eg_block {
        width: 100%;
        padding: 10px;
    }

    .relig_green_block_inner {
        width: 95%;
    }

    .missioner_block {
        width: 100%;
        padding: 10px;
    }

    .missioner_photo {
        width: 100%;
        text-align: center;
    }

    .missioner_text_block {
        width: 100%;

    }

    .missioner_grey_block {
        width: 100%;
        padding: 10px;
    }

    .missioner_grey_block_item {
        border-bottom: 1px solid grey;
        padding: 30px;
    }

    .religions_icon_inline {
        margin: 0 auto;
        float: left;
        width: auto;
    }

    .religions_grey_block_outer {
        position: relative;
        top: 20px;
        padding-top: 150px;

    }

    .religions_grey_block_inner {
        width: 100%;
        padding: 10px;
        margin-right: 0px;
        text-align: center;

    }

    .religions_grey_block_inner_links {
        width: 90%;
        font-size: 30px;
        margin: 20px;
    }

    .religions_grey_block_inner_links a {
        width: 95%;
        font-size: 20px;
    }

    .religions_grey_block_top_icon_outer {
        top: 30px;
        width: 100%;
    }

    .religions_icon_inline {
        margin-right: 50px;
        cursor: pointer;
    }

    .religions_icon_text {
        padding-left: 15px;
        width: auto;
    }

    .religions_icon_block {
        width: auto;
    }

    .religions_grey_block_bottom_icon_outer {
        top: 20px;
        width: 95%;
    }

    .zdan_block {
        width: 100%;
        padding: 10px;
    }

    .zdan_photo {
        width: 100%;
        margin: 0 auto;
    }

    .zdan_zdan_photo {
        width: 100%;
        margin: 0 auto;

    }

    .zdan_text_block {
        width: 100%;
        margin-top: 30px;
    }

    .zdan_grey_block {
        width: 100%;
        padding: 10px;
    }

    .zdan_grey_block_item {
        width: 100%;
        border-bottom: 1px solid grey;
        padding: 30px;
    }

    .zdan_grey_block {
        width: 100%;
    }

    .zdan_photo img {
        display: none;
    }

    .zdan_white_block {
        width: 100%;
        padding: 10px;
    }

    ul.dropdown .dropdown-inside a {
        color: #484848;
        width: auto;
        white-space: nowrap;
    }

    .religions_icon_block_mob_fix {
        padding-bottom: 50px;

    }

    .relig_map2_item {
        width: 49%;
    }

    .relig_map2_body {
        width: 100%;
        padding: 10px;
    }

}

@media (max-width: 700px) {
    .blue_form_textarea {
        width: 300px;
    }

    .religions_icon_block img {
        display: table-cell;
        text-align: center;
        width: 80px;
    }

    .religions_icon_block {
        font-size: 26px;
    }

    .grey_form_textarea {
        width: 300px;
    }

    .religions_grey_block_outer {
        position: relative;
        top: 20px;
        padding-top: 80px;
    }

    .news_block_page_img {
        width: 100%;
        height: auto;
        float: none;
    }

    .religions_icon_inline {
        width: 100%;
    }

    ul.dropdown .dropdown-inside a {
        color: #484848;
        width: 300px;
        white-space: normal;
    }

    .relig_map2_item {
        width: 100%;
    }

}
































